@use "sass:color";
@import url('https://fonts.googleapis.com/css2?family=Glory&family=Inter&display=swap');

@mixin font($family, $size) {
    font: {
        family: $family, sans-serif;
        size: $size;
    }
}


//colors
$purple: #1c001c;
$red: #500;
$gradient: linear-gradient(135deg, $purple, $red);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {text-decoration: none;}

header {
    width: 100%;
    padding: 10px 5%;
    box-sizing: border-box;
    background: $gradient;
    box-shadow: 0 0 20px #0008;
    z-index: 100;
    position: fixed;
    top: 0;
    // &.left-nav {animation: left 0.25s both;}
    // @keyframes left {
    //     0% {top: 0;}
    //     10% {
    //         background: #000;
    //         nav ul li a {opacity: 0;}
    //     }
    //     40% {
    //         h1 {opacity: 0;}
    //         h1::first-letter {
    //             opacity: 1;
    //             background: $gradient;
    //             padding: 5px;
    //             border-radius: 50%;
    //         }
    //     }
    //     50% {
    //         width: 50px;
    //     }
    //     100% {
    //         top: 25px;
    //         left: 10px;
    //         background: #fff;
    //         box-shadow: 0 0 20px #0002;
    //     }
    // }
    // &.top-nav {animation: top 0.25s;}
    // @keyframes top {
    //     100% {
    //         top: 0;
    //         left: 0;
    //         background: transparent;
    //         box-shadow: 0 0 20px #0008;
    //     }
    // }
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        a {color: #fff;}
        span {
            @include font(glory, 2.5rem);
        }
        ul {
            list-style-type: none;
            display: flex;
            align-items: center;
            gap: 30px;
            li {
                @include font(inter, 1.25rem);
                a {
                    color: #ccc;
                    &:hover {color: #fff;}
                }
            }
        }
    }
}

main {
    padding: 75px 5%;
    h1 {
        @include font(inter, 3rem);
        text-align: center;
    }
    > p {
        @include font(glory, 1.375rem);
        color: #555;
        text-align: center;
        margin: 37.5px auto 0;
        width: 75%;
    }
    .evolucion {
        margin-top: 75px;
        background: $gradient;
        position: relative;
        left: -5vw;
        padding: 5vw;
        h2 {
            @include font(inter, 2.5rem);
            color: #fff;
            width: 100%;
            flex: 100% 0 0;
            text-align: center;
            text-transform: capitalize;
        }
        .comparacion {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 50px;
            max-width: 90vw;
            div:not(.img) {
                color: #fff;
                text-align: center;
                width: 30%;
                h3 {@include font(inter, 2rem);}
                p {
                    @include font(glory, 1.25rem);
                    margin-top: 12.5px;
                }
            }
            .img {
                border-radius: 50%;
                background: #000;
                width: 30%;
                overflow: hidden;
                img {
                    clip-path: inset(0 0 40% 0);
                    filter: brightness(0.8) contrast(1.25);
                    width: 70%;
                    margin: auto;
                    display: block;
                }
            }
        }
    }
    .datos {
        margin-top: 100px;
        h2 {
            @include font(inter, 2.5rem);
            text-align: center;
        }
        > p {
            @include font(glory, 1.375rem);
            color: #555;
            margin: 50px auto 0;
            text-align: center;
            width: 75%;
        }
        .container {
            width: 85%;
            margin: 75px auto 0;
            display: flex;
            flex-direction: column;
            gap: 20px;
            .row {
                position: relative;
                background: $gradient;
                padding: 10px 20px;
                border-radius: 200px 20px 20px 200px;
                border: 15px solid transparent;
                border-right: none;
                background-origin: border-box;
                background-clip: border-box;
                display: flex;
                gap: 25px;
                overflow: hidden;
                transform: translateX(-50px);
                &::after {
                    content: "";
                    display: block;
                    width: 20px;
                    height: calc(100% + 30px);
                    position: absolute;
                    inset: -15px 0 0 auto;
                    background: linear-gradient(90deg, transparent, #0006);
                    z-index: 10;
                }
                @keyframes translate {
                    0% {transform: translateX(0);}
                    100% {transform: translateX(calc(-100% - 25px));}
                }
                @for $i from 1 through 4 {
                    &:nth-child(#{$i}) {
                        $count: 1;
                        $order: $i;
                        @keyframes changeOrder {
                            99% {order: 0;}
                            100% {
                                @if $order - $count > 0 {
                                    order: $order - $count;
                                    $count: $count+1;
                                }
                                @else {
                                    $order: 4;
                                    order: $order;
                                    $count: 1;
                                }
                                @debug $count;
                            }
                        }
                    }
                }
                .dato {
                    background: #fff;
                    border-radius: 5px;
                    padding: 10px;
                    min-width: 400px;
                    animation: translate 7.5s linear infinite, /*changeOrder 6s linear infinite*/;
                    position: relative;
                    overflow: hidden;
                    h3 {
                        @include font(inter, 2rem);
                        text-align: center;
                        display: inline-block;
                        position: relative;
                    }
                    .left-top {animation: left-top 0.5s both;}
                    .center {animation: center 0.5s both;}
                    @keyframes center {
                        from {
                            top: 0;
                            left: 0;
                            transform: translate(0, 0);
                            text-align: left;
                        }
                        to {
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }
                    @keyframes left-top {
                        from {
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                        to {
                            top: 0;
                            left: 0;
                            transform: translate(0, 0);
                            text-align: left;
                        }
                    }
                    p {@include font(glory, 1.25rem);}
                    .visible {animation: visible 0.25s 0.25s both;}
                    .hidden {animation: hidden 0.25s both;}
                    @keyframes visible {
                        from {opacity: 0;}
                        to {opacity: 1;}
                    }
                    @keyframes hidden {
                        from {opacity: 1;}
                        to {opacity: 0;}
                    }
                }
                &:nth-child(2) {
                    border-radius: 20px 200px 200px 20px;
                    transform: translateX(50px);
                    border-left: none;
                    border-right: 15px solid transparent;
                    &::after {
                        inset: -15px auto 0 0;
                        background: linear-gradient(270deg, transparent, #0006);
                    }
                    .dato {animation-direction: reverse;}
                }
                &:last-child {
                    .dato {animation-delay: 3s;}
                }
            }
        }
    }
}

footer {
    height: 100px;
    background: $gradient;
}
