@use "sass:color";
@import url('https://fonts.googleapis.com/css2?family=Glory&family=Inter&display=swap');

@mixin font($family, $size) {
    font: {
        family: $family, sans-serif;
        size: $size;
    }
}


//colors
$purple: #1c001c;
$red: #500;
$gradient: linear-gradient(135deg, $purple, $red);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {text-decoration: none;}

header {
    width: 100%;
    padding: 10px 5%;
    box-sizing: border-box;
    background: $gradient;
    box-shadow: 0 0 20px #0008;
    z-index: 100;
    position: fixed;
    top: 0;
    // &.left-nav {animation: left 0.25s both;}
    // @keyframes left {
    //     0% {top: 0;}
    //     10% {
    //         background: #000;
    //         nav ul li a {opacity: 0;}
    //     }
    //     40% {
    //         h1 {opacity: 0;}
    //         h1::first-letter {
    //             opacity: 1;
    //             background: $gradient;
    //             padding: 5px;
    //             border-radius: 50%;
    //         }
    //     }
    //     50% {
    //         width: 50px;
    //     }
    //     100% {
    //         top: 25px;
    //         left: 10px;
    //         background: #fff;
    //         box-shadow: 0 0 20px #0002;
    //     }
    // }
    // &.top-nav {animation: top 0.25s;}
    // @keyframes top {
    //     100% {
    //         top: 0;
    //         left: 0;
    //         background: transparent;
    //         box-shadow: 0 0 20px #0008;
    //     }
    // }
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        a {color: #fff;}
        span {
            @include font(glory, 2.5rem);
        }
        ul {
            list-style-type: none;
            display: flex;
            align-items: center;
            gap: 30px;
            li {
                @include font(inter, 1.25rem);
                a {
                    color: #ccc;
                    &:hover {color: #fff;}
                }
            }
        }
    }
}

main {
    padding: 75px 5%;
    h1 {
        @include font(inter, 3rem);
        text-align: center;
    }
    > p {
        @include font(glory, 1.375rem);
        color: #555;
        text-align: center;
        margin: 37.5px auto 0;
        width: 75%;
    }
    .evolucion {
        margin-top: 75px;
        background: $gradient;
        position: relative;
        left: -5vw;
        padding: 5vw;
        h2 {
            @include font(inter, 2.5rem);
            color: #fff;
            width: 100%;
            flex: 100% 0 0;
            text-align: center;
            text-transform: capitalize;
        }
        .comparacion {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 50px;
            max-width: 90vw;
            div:not(.img) {
                color: #fff;
                text-align: center;
                width: 30%;
                h3 {@include font(inter, 2rem);}
                p {
                    @include font(glory, 1.25rem);
                    margin-top: 12.5px;
                }
            }
            .img {
                border-radius: 50%;
                background: #000;
                width: 30%;
                overflow: hidden;
                img {
                    clip-path: inset(0 0 40% 0);
                    filter: brightness(0.8) contrast(1.25);
                    width: 70%;
                    margin: auto;
                    display: block;
                }
            }
        }
    }
    .datos {
        margin-top: 100px;
        h2 {
            @include font(inter, 2.5rem);
            text-align: center;
        }
        > p {
            @include font(glory, 1.375rem);
            color: #555;
            margin: 50px auto 0;
            text-align: center;
            width: 75%;
        }
        .container {
            width: 85%;
            margin: 75px auto 0;
            display: flex;
            flex-direction: column;
            gap: 20px;
            .row {
                position: relative;
                background: $gradient;
                padding: 20px;
                box-shadow: 0 0 20px #0004;
                border-radius: 5px;
                border-left: 20px solid $purple;
                border-right: 20px solid $red;
                display: flex;
                gap: 25px;
                overflow: hidden;
                &::after {
                    content: "";
                    display: block;
                    width: 100%;
                    position: absolute;
                    inset: 0;
                    box-shadow: inset -5px 0 20px #0008, inset 5px 0 20px #0008;
                    z-index: 10;
                }
                $count: 1;
                @keyframes rotate {
                    from {transform: translateX(0);}
                    to {
                        transform: translateX(calc(-100% - 25px));
                    }
                }
                .dato {
                    background: #fff;
                    border-radius: 5px;
                    padding: 10px;
                    min-width: 350px;
                    animation: rotate linear 4s infinite;
                    @for $i from 1 through 4 {
                        &:nth-child(#{$i}) {z-index: $i;}
                    }
                    &.close {
                        h3 {

                        }
                    }
                    h3 {@include font(inter, 2rem)}
                    p {@include font(glory, 1.25rem)}
                }
            }
        }
    }
}

footer {
    height: 100px;
    background: $gradient;
}
